{% extends "base.html" %}
{% load compress %}

{% block content %}{% spaceless %}
{% compress css%}
    <style type="text/css">
        body {
            background: {{ color|default:"red" }};
        }
    </style>
{% endcompress %}

{% compress js%}
    <script type="text/javascript">
        alert("{% firstof "test" %}");
    </script>
{% endcompress %}

{% compress js%}
    <script type="text/javascript">
        alert("test 2");
    </script>
{% endcompress %}

{% if condition %}
    {% compress js%}
        <script type="text/javascript">alert("{{ condition|default:"yellow" }}");</script>
    {% endcompress %}
{% endif %}

{% endspaceless %}{% endblock %}

{% block js %}{% spaceless %}
	{% compress js %}
		{{ block.super }}
		    <script type="text/javascript">
		        alert("test 4");
		    </script>
	{% endcompress %}
{% endspaceless %}{% endblock %}

{% block css %}{% spaceless %}
	{% compress css %}
		{{ block.super }}
		<style type="text/css">
		body { color: orange ; }
		</style>
	{% endcompress %}
{% endspaceless %}{% endblock %}
