build
compressor/tests/static/CACHE
compressor/tests/static/custom
compressor/tests/static/js/066cd253eada.js
compressor/tests/static/test.txt*

dist
MANIFEST
*.pyc
*.egg-info
*.egg
docs/_build/
.sass-cache
.coverage
.tox
.eggs
