build
compressor/tests/static/CACHE
compressor/tests/static/custom
compressor/tests/static/js/066cd253eada.js
compressor/tests/static/js/d728fc7f9301.js
compressor/tests/static/js/74e158ccb432.js
compressor/tests/static/test.txt*

dist
MANIFEST
*.pyc
*.egg-info
*.egg
docs/_build/
.sass-cache
.coverage
.tox
.eggs
