language: python
sudo: false
install:
  - if [[ $TOXENV == py32-1.8.X ]]; then pip install pip\<8.0.0 virtualenv\<14.0.0; fi
  - pip install tox
script:
  - tox
env:
  - TOXENV=py27-1.8.X
  - TOXENV=py32-1.8.X
  - TOXENV=py33-1.8.X
  - TOXENV=py34-1.8.X
  - TOXENV=py27-1.9.X
  - TOXENV=py34-1.9.X
  - TOXENV=py27-1.10.X
  - TOXENV=py34-1.10.X
# https://github.com/travis-ci/travis-ci/issues/4794
matrix:
  include:
    - python: 3.5
      env: TOXENV=py35-1.8.X
    - python: 3.5
      env: TOXENV=py35-1.9.X
    - python: 3.5
      env: TOXENV=py35-1.10.X
notifications:
  irc: "irc.freenode.org#django-compressor"
after_success:
  - pip install codecov
  - codecov
