include AUTHORS
include README.rst
include LICENSE
include Makefile
include tox.ini
recursive-include docs *
recursive-include requirements *
recursive-include compressor/templates/compressor *.html
recursive-include compressor/tests/media *.js *.css *.png *.coffee
recursive-include compressor/tests/test_templates *.html
